---
title: Learn Siteleaf
timezone: America/New_York
collections:
  api:
    title: API
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Integrate directly into your site or app
      badge: "/uploads/badge--api.svg"
      in_nav: true
    position: 60
  sites:
    title: Deploy & Collaborate
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Publish your site and invite other users
      badge: "/uploads/badge--sites.svg"
      in_nav: true
    position: 50
  themes:
    title: Developing Themes
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Liquid, Sass, Jekyll, syncing, local dev
      badge: "/uploads/badge--themes.svg"
      in_nav: true
    position: 40
  getting-started:
    title: Getting Started
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Introduce yourself to Siteleaf and Jekyll
      badge: "/uploads/badge--getting-started.svg"
      in_nav: true
    position: 10
  v1:
    title: Legacy Sites
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Moving from v1 to v2
      badge: "/uploads/badge--v1.svg"
      in_nav: true
    position: 70
  content:
    title: Managing Content
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: Pages, collections, posts, metadata
      badge: "/uploads/badge--content.svg"
      in_nav: true
    position: 30
  posts:
    title: Posts
    output: true
  style:
    title: Style Guide
    output: true
    permalink: "/:collection/:path/"
    meta:
      description: A guide to Siteleaf style
      in_nav: false
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
  values:
    layout: page
- scope:
    path: ''
    type: getting-started
  values:
    layout: page
    color: blue
- scope:
    path: ''
    type: content
  values:
    layout: page
    color: green
- scope:
    path: ''
    type: themes
  values:
    layout: page
    color: yellow
- scope:
    path: ''
    type: sites
  values:
    layout: page
    color: red
- scope:
    path: ''
    type: api
  values:
    layout: page
    color: purple
- scope:
    path: ''
    type: v1
  values:
    layout: page
- scope:
    path: ''
    type: style
  values:
    layout: page
    color: darkest-gray
url: http://learn.siteleaf.com
permalink: pretty
exclude:
- Gemfile
- Gemfile.lock
- README*
- ".gitignore"
github_url: https://github.com/siteleaf/learn.siteleaf.com
sass:
  style: compressed
gems:
- jekyll-sitemap
- jekyll-seo-tag
- jekyll-redirect-from
logo: "/assets/images/logo.svg"
description: Documentation and learning resource for Siteleaf, a content management
  system designed for a better web.
