<script>
  (function() {
    var cx = '44e987c15485b4a25';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div style="width: 0px; overflow: hidden; height: 0;">
  <gcse:search></gcse:search>
</div>

<form class="search" id="searchbox_44e987c15485b4a25" action="">
  <input value="44e987c15485b4a25" name="cx" type="hidden">
  <input value="FORID:11" name="cof" type="hidden">
  <input id="q" style="" name="q" class="search__input" type="search" placeholder="Search the docs">
</form>
