<aside class="main__sidebar">
  <form class="form__search">
    <input class="form__input--search" type="search" placeholder="Search">
  </form>

  {% assign sections = site.collections | sort:"weight" %}
  {% for section in sections %}
    {% unless section.title == "Uploads" %}
      <nav class="nav">
        <h3 class="nav__header">{{ section.title }}</h3>
        <ul class="nav__list nav__list--sidebar">
          {% assign documents = section.docs | sort:"weight" %}
          {% for document in documents %}
            <li class="nav__item nav__item--sidebar"><a class="nav__link nav__link--sidebar" href="{{ document.url }}">{{ document.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endunless %}
  {% endfor %}
</aside>
