{% assign page_section = site.collections | where: 'label', page.collection | first %}
<aside class="sidebar sidebar--mobile-hidden nocontent">
  {% assign sections = site.collections | sort:"position" %}
  {% for section in sections %}
    {% if section.title and section.meta.in_nav == true %}
      <nav class="nav">
        <h5 class="nav__item{% if page.title == section.title %} nav__item--current{% endif %}{% if page_section.title == section.title %} {{ page.color | default: 'darker-gray' }}{% endif %}"><a href="/{{ section.label }}/">{{ section.title }}</a></h5>
        {% if page_section.title == section.title %}
          <ul class="nav__list">
            {% assign documents = section.docs | sort:"position" %}
            {% for document in documents %}
              {% if document.title != section.title %}
                <li class="nav__item{% if page.url == document.url %} nav__item--current {{ page.color | default: 'darker-gray' }}{% endif %}"><a class="nav__link nav__link--sidebar" href="{{ document.url }}">{{ document.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </nav>
    {% endif %}
  {% endfor %}
</aside>
