.api__content {
  font-size: 16px;

  table {
    font-size: 100%;
  }

  pre, code {
    font-size: $font-size-n1;
  }
}

.api__headers pre {
  background-color: #eee;
  margin-bottom: 0;
}

.api__toc {
  margin-bottom: $v;
}
