/*
  Siteleaf Learn
*/

*, *:before, *:after {
  @include box-sizing(inherit);
}

html {
  @include box-sizing(border-box);
  font-size: $font-size-html;
}

body {
  @include antialias;

  color: $color-gray-a2;
  font-family: $font-family-sans-serif;
  font-size: $font-size-0;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue-dark;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $v;
}

h1 {
  font-size: $font-size-4;
  font-weight: $font-weight-light;
  line-height: $line-height-tighter;
  margin-bottom: $v / 2;
}

h2 {
  font-size: $font-size-2;
}

h3 {
  // font-size: $font-size-1;
  font-weight: $font-weight-semibold;
  // text-transform: uppercase;
}

p {
  margin-bottom: 1em;
}

.main {
  &__sidebar {
    float: left;
    width: 25%;
  }

  &__content {
    float: right;
    width: 70%;
  }
}

.form {
  &__search {
    border-bottom: 2px solid $color-gray-an2;
    padding-bottom: $v;
    margin-bottom: $v;
  }

  &__input {
    &--search {
      font-size: $font-size-n3;
      padding: $v * 0.25;
      display: block;
      width: 100%;
    }
  }
}
