/*
  Siteleaf Learn
*/

*, *:before, *:after {
  @include box-sizing(inherit);
}

html {
  @include box-sizing(border-box);
  font-size: $font-size-html;
}

body {
  @include antialias;

  color: $color-gray-a2;
  font-family: $font-family-sans-serif;
  font-size: $font-size-0;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue-dark;
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $v / 2;
}

h1 {
  font-size: $font-size-4;
  font-weight: $font-weight-light;
  line-height: $line-height-tighter;
}

h2 {
  font-size: $font-size-2;
}

h3 {
  font-weight: $font-weight-semibold;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: $v;
}

pre, code {
  color: $color-gray-2;
  background-color: #f5f5f5;
  padding: 1px 4px 2px;
}

pre {
  line-height: 1.2;
  padding: 0.75rem;

  code {
    background-color: transparent;
    padding: 0;
  }
}

ul, ol {
  li {
    margin-left: $v * 1.5
  }
}

strong {
  font-weight: $font-weight-semibold;
}

table {
  font-size: $font-size-html-sm;
  margin-bottom: $v;
  text-align: left;
  width: 100%;

  th {
    font-weight: $font-weight-semibold;
  }

  thead {
    border-bottom: 1px solid $color-gray-an2;
  }
}

.main {
  &__sidebar {
    float: left;
    width: 25%;
  }

  &__content {
    float: right;
    width: 70%;
  }
}

.form {
  &__search {
    border-bottom: 2px solid $color-gray-an2;
    padding-bottom: $v + 0.275rem;
    margin-bottom: $v;
  }

  &__input {
    &--search {
      font-size: $font-size-n3;
      padding: $v * 0.25;
      display: block;
      width: 100%;

      &--landing {
        font-size: $font-size-0;
      }
    }
  }
}

.document {
  &__title {
    border-bottom: 2px solid $color-gray-an2;
    padding-bottom: $v;
    margin-bottom: $v;

    &--landing {
      border: none;
      margin-bottom: $v * 1;
      text-align: center;
    }
  }

  &__summary {
    border-left: 5px solid $color-gray-an2;
    color: $color-gray-a1;
    margin-bottom: $v / 2;
    padding-left: $v / 2;

    h3 {
      margin-bottom: 0;
    }
  }

  &__improve {
    font-size: $font-size-html-sm;
    margin-top: $v * 2;
  }

  #further-reading {
    border-top: 1px solid $color-gray-an2;
    padding-top: $v;
    margin-top: $v * 2;
  }
}

.highlight {
  margin-bottom: $v;
}

.footer {
  .wrap {
    border-top: 1px solid $color-gray-an2;
    padding-top: $v;
    font-size: $font-size-html-sm;
    margin-bottom: $v;
    margin-top: $v;
  }
}
