/*
  Siteleaf Learn
*/

*, *:before, *:after {
  @include box-sizing(inherit);
}

html {
  @include box-sizing(border-box);
  font-size: $font-size-html;
}

body {
  @include antialias;

  color: $text_normal;
  font-family: $font-family-sans-serif;
  font-size: $font-size-0;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue-dark;
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $v / 2;
  color: $text_dark;
}

h1 {
  font-size: $font-size-4;
  font-weight: $font-weight-light;
  line-height: $line-height-tighter;
}

h2 {
  font-size: $font-size-2;
  font-weight: $font-weight-semibold;
}

h3 {
  font-weight: $font-weight-semibold;
}

img {
  max-width: 100%;
}

p, ul, ol {
  margin-bottom: $v;
}

pre, code {
  color: $color-gray-2;
  background-color: #f5f5f5;
  padding: 1px 4px 2px;
  font-size: 0.95em;
}

pre {
  line-height: 1.2;
  padding: 0.75rem;

  code {
    background-color: transparent;
    padding: 0;
  }
}

ul, ol {
  margin-bottom: $v;

  li {
    margin-left: $v * 1.5
  }
}

strong {
  font-weight: $font-weight-semibold;
  color: $text_dark;
}

table {
  font-size: $font-size-html-sm;
  margin-bottom: $v;
  text-align: left;
  width: 100%;

  th {
    font-weight: $font-weight-semibold;
  }

  thead {
    border-bottom: 1px solid $color-gray-an2;
  }
}

.main {
  &__sidebar {
    float: left;
    width: 25%;
  }

  &__content {
    float: right;
    width: 70%;

    img {
      border: 5px solid $color-gray-an3;
      box-sizing: border-box;
    }
  }
}

.form {
  &__search {
    // padding-bottom: $v + 0.275rem;
    margin-bottom: $v;
  }

  &__input {
    &--search.st-default-search-input {
      box-sizing: border-box;
      border: 1px solid $color-gray-an2;
      border-radius: 0;
      font-family: $font-family-sans-serif;
      font-size: $font-size-n2;
      display: block;
      height: auto;
      height: $v * 2;
      width: 100%;
      background-position-y: center;

      &:focus {
        border-color: $color-gray-a1;
      }
    }
  }
}

.document {
  &__title {
    border-bottom: 2px solid $color-gray-an2;
    padding-bottom: $v;
    margin-bottom: $v;

    &--landing {
      border: none;
      margin-bottom: $v * 1;
      text-align: center;
    }
  }

  &__summary {
    border-left: 5px solid $color-gray-an2;
    color: $color-gray-a1;
    margin-bottom: $v / 2;
    padding-left: $v / 2;

    h3 {
      margin-bottom: 0;
    }
  }

  &__improve {
    font-size: $font-size-html-sm;
    margin-top: $v * 2;
  }

  #further-reading {
    border-top: 1px solid $color-gray-an2;
    padding-top: $v;
    margin-top: $v;
  }
}

.highlight {
  margin-bottom: $v;
}

.footer {
  .wrap {
    border-top: 1px solid $color-gray-an2;
    padding-top: $v;
    font-size: $font-size-html-sm;
    margin-bottom: $v;
    margin-top: $v;
  }
}

.note__info {
  background-color: rgba($color-yellow, 0.2);
  border-radius: 5px;
  color: darken($color-yellow, 20%);
  padding: 1em 1em 1em 3em;
  position: relative;
  &:before {
    color: darken($color-yellow, 20%);
    font-size: 2em;
    position: absolute;
    top: 5px;
    left: 10px;
  }
}
