.gsc-resultsHeader,
.gsc-above-wrapper-area-container,
.gsc-control-cse .gsc-table-result{
  margin-bottom: 0;
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top,
.gsc-control-cse .gsc-table-result {
  margin-left: 0 !important;
  margin-right: 0;
  padding-left: 0 !important;
  padding-right: 0;
}

.gs-title {
  height: auto !important;
  line-height: 1.1;
}