.main {
  @media (max-width: $max-width-narrow) {
    .main__sidebar, .main__content {
      width: 100%;
    }

    .main__sidebar {
      border-bottom: 5px solid $color-gray-an2;
      padding-bottom: $v;
      margin-bottom: $v;
    }
  }
}

.main__sidebar {
  float: left;
  width: 25%;

  &--mobile-hidden {
    display: block;

    @media (max-width: $max-width-narrow) {
      display: none;
    }
  }
}

.main__content {
  float: right;
  width: 70%;

  img {
    border: 5px solid $color-gray-an3;
    box-sizing: border-box;
  }
}
