/*
  Siteleaf Learn
*/

.nav {
  @include clearfix;

  & + & {
    margin-top: $v;
  }

  &--grid {
    text-align: center;

    & + & {
      border-top: 1px solid $color-gray-an2;
    }
  }

  &__logo {
    color: $color-white;
    font-size: $font-size-1;
    font-weight: $font-weight-semibold;
    display: inline-block;
    line-height: $line-height-tighter;
    float: left;

    &:hover {
      color: rgba($color-white, 0.6);
      text-decoration: none;
    }
  }

  &__header {
    color: $color-gray-a2;
    margin-bottom: 0;
    font-size: $font-size-n1;

    &--grid {
      font-size: $font-size-1;
    }
  }

  &__icon {
    &--grid {
      font-size: $font-size-4;
    }
  }

  &__list {
    list-style-type: none;

    &--header {
      float: right;
      display: inline-block;
      text-align: right;
    }

    &--grid {
      @include clearfix;

      display: block;
      width: 100%;
    }
  }

  &__item {
    font-size: $font-size-n1;
    margin-left: 0;
    padding-left: 0;

    &--header {
      display: inline-block;
      line-height: $line-height-tight;

      & + & {
        margin-left: 1.5em;
      }
    }

    &--grid {
      border: 1px solid $color-gray-an2;
      display: inline-block;
      float: left;
      margin-left: 1%;
      margin-bottom: $v / 2;
      padding: 0 ($v / 2);
      width: 24.25%;

      &:nth-child(4n+1) {
        margin-left: 0;
      }

      &:hover {
        border-color: $color-gray-an1;
      }
    }
  }

  &__link {
    &--header {
      color: $color-white;

      &:hover {
        color: rgba($color-white, 0.6);
        text-decoration: none;
      }
    }

    &--grid {
      display: block;
      color: $color-gray-a2;
      padding-bottom: $v;
      padding-top: $v;

      &:hover {
        text-decoration: none;
        color: $color-gray-a2;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
