.header {
  background: $color-blue;
  padding-bottom: 1em;
  padding-top: 1em;

  @media (min-width: $max-width-narrow) {
    margin-bottom: 2em;
  }
}

.beta-notice{
  border: 1px solid $color-gray-an2;
  border-radius: $border-radius;
  padding: 15px;
  margin-bottom: 40px;
  line-height: $line-height-tight;
  color: $color-gray-1;
  font-size: $font-size-html-sm;
  font-size: $font-size-n2;
  background: $bg_gray;

  @media (max-width: $max-width-narrow) {
    display: none;
  }

  strong{
    color: $color-gray-2;
    display: block;
  }

  a{
    color: $color-gray-1;
    text-decoration: underline;

    &:hover{
      color: $color-blue-dark;
    }
  }
}
