/*
  Siteleaf Learn
*/


/*
  Colors
*/

$color-blue:       #0091E5;
$color-blue-light: lighten($color-blue, 10%);
$color-blue-dark:  darken($color-blue, 7.5%);
$color-green:      #8DCF3F;
$color-green-dark: darken($color-green, 7.5%);
$color-navy:       #27415A;
$color-magenta:    #D6457F;
$color-orange:     #FF9233;
$color-red:        #D14040;
$color-yellow:     #F1C40F;
$color-white:      #FFF;
$color-mint:       #21B899;
$color-white-blue: #DBEDF8;


/*
  Fonts
*/

// Font families
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-monospace:  "Anonymous Pro", monospace;

// Font weights
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 600;
$font-weight-bold:     700;

// Font sizes
$font-size-html:    20px;
$font-size-html-sm: 17.5px;
$font-size-6:       3em;
$font-size-5:       2.5em;
$font-size-4:       2em;
$font-size-3:       1.5em;
$font-size-2:       1.3333em;
$font-size-1:       1.1667em;
$font-size-05:      1.0833em;
$font-size-0:       1em;
$font-size-n05:     0.9583em;
$font-size-n1:      0.9167em;
$font-size-n2:      0.8333em;
$font-size-n3:      0.75em;
$font-size-n4:      0.6667em;
$font-size-n5:      0.5em;

// Line height
$line-height-tighter: 1.125;
$line-height-tight:   1.375;
$line-height-base:    1.625;

// Letter spacing
$letter-spacing-tightest: -0.022em;
$letter-spacing-tighter:  -0.016em;
$letter-spacing-tight:    -0.012em;
$letter-spacing-base:     0;
$letter-spacing-loose:    0.03em;

// Vertical spacing
$v: ($font-size-0 / 1em) * $line-height-base * 1rem;

// Horizontal spacing
$tab: 1.8em;


/*
  Grid
*/

// Layout
$gutter:           20px;
$width-container:  88.888889%;
$max-width-narrow: 35rem;
$max-width-wide:   1092px;

// Breakpoints
$bp-sm: 800px;
$bp-xs: 600px;
$bp-header-collapses: 600px;
$bp-header-shows:     $bp-header-collapses + 1px;
$bp-footer-collapses: 348px;
$bp-footer-shows:     $bp-footer-collapses + 1px;


/*
  Z-Index
*/

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;


/*
  Miscellaneous
*/

$border-radius:       3px;
$button-thickness:    2px;
$button-hover-darken: 7%;
$duration:            150ms;
$duration-fast:       75ms;
$duration-faster:     50ms;
