---
---

@import "reset";
@import "fonts";
@import "variables";
@import "grid";

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-html;
  line-height: $font-size-html * 1.5;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue-dark;
  }
}

h1 {
  font-size: $font-size-4;
  margin-bottom: 0.75em;
}

h3 {
  color: $color-true-gray-a2;
  font-size: $font-size-n2;
  font-weight: $font-weight-semibold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

header {
  background: $color-blue;
  color: $color-white;
  margin: 0;
  padding: 1em 0;

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }
}

main {
  margin-top: 2em;
  font-size: $font-size-html-sm;
}

.sidebar {
  float: left;
  width: 20%;

  @media (max-width: $bp-sm) {
    display: none;
  }

  li {
    list-style-type: none;
  }

  nav + nav {
    margin-top: 2em;
  }
}

.content {
  float: right;
  width: 75%;

  @media (max-width: $bp-sm) {
    width: 100%;
  }
}
