/* Siteleaf Learn
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* Siteleaf Learn
*/
/* Siteleaf Learn
*/
.wrap, .container { zoom: 1; margin-left: auto; margin-right: auto; width: 85%; max-width: 55rem; }
.wrap:before, .wrap:after, .container:before, .container:after { content: ""; display: table; }
.wrap:after, .container:after { clear: both; }

/* Siteleaf Learn
*/
/* Siteleaf Learn
*/
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -ms-box-sizing: inherit; box-sizing: inherit; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; font-size: 18px; }

body { -webkit-font-smoothing: antialiased; -font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: rgba(45, 65, 84, 0.9); font-family: "Source Sans Pro", sans-serif; font-size: 1em; letter-spacing: 0; line-height: 1.625; }

a { color: #0091E5; text-decoration: none; }
a:hover { color: #0079bf; text-decoration: underline; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 0.8125rem; }

h1 { font-size: 2em; font-weight: 300; line-height: 1.125; }

h2 { font-size: 1.3333em; }

h3 { font-weight: 600; }

p { margin-bottom: 1.625rem; }

pre, code { color: #415364; background-color: #f5f5f5; padding: 1px 4px 2px; }

pre { line-height: 1.2; padding: 0.75rem; }
pre code { background-color: transparent; padding: 0; }

ul li, ol li { margin-left: 2.4375rem; }

strong { font-weight: 600; }

table { font-size: 17.5px; margin-bottom: 1.625rem; text-align: left; width: 100%; }
table th { font-weight: 600; }
table thead { border-bottom: 1px solid rgba(45, 65, 84, 0.1); }

.main__sidebar { float: left; width: 25%; }
.main__content { float: right; width: 70%; }

.form__search { border-bottom: 2px solid rgba(45, 65, 84, 0.1); padding-bottom: 1.9rem; margin-bottom: 1.625rem; }
.form__input--search { font-size: 0.75em; padding: 0.40625rem; display: block; width: 100%; }
.form__input--search--landing { font-size: 1em; }

.document__title { border-bottom: 2px solid rgba(45, 65, 84, 0.1); padding-bottom: 1.625rem; margin-bottom: 1.625rem; }
.document__title--landing { border: none; margin-bottom: 1.625rem; text-align: center; }
.document__summary { border-left: 5px solid rgba(45, 65, 84, 0.1); color: rgba(45, 65, 84, 0.5); margin-bottom: 0.8125rem; padding-left: 0.8125rem; }
.document__summary h3 { margin-bottom: 0; }
.document__improve { font-size: 17.5px; margin-top: 3.25rem; }
.document #further-reading { border-top: 1px solid rgba(45, 65, 84, 0.1); padding-top: 1.625rem; margin-top: 3.25rem; }

.highlight { margin-bottom: 1.625rem; }

.footer .wrap { border-top: 1px solid rgba(45, 65, 84, 0.1); padding-top: 1.625rem; font-size: 17.5px; margin-bottom: 1.625rem; margin-top: 1.625rem; }

/* Siteleaf Learn
*/
/* Siteleaf Learn
*/
.nav { zoom: 1; }
.nav:before, .nav:after { content: ""; display: table; }
.nav:after { clear: both; }
.nav + .nav { margin-top: 1.625rem; }
.nav--grid { text-align: center; }
.nav--grid + .nav--grid { border-top: 1px solid rgba(45, 65, 84, 0.1); }
.nav__logo { color: #FFF; font-size: 1.1667em; font-weight: 600; display: inline-block; line-height: 1.125; float: left; }
.nav__logo:hover { color: rgba(255, 255, 255, 0.6); text-decoration: none; }
.nav__header { color: rgba(45, 65, 84, 0.9); margin-bottom: 0; font-size: 0.9167em; }
.nav__header--grid { font-size: 1.1667em; }
.nav__icon--grid { font-size: 2em; }
.nav__list { list-style-type: none; }
.nav__list--header { float: right; display: inline-block; text-align: right; }
.nav__list--grid { zoom: 1; display: block; width: 100%; }
.nav__list--grid:before, .nav__list--grid:after { content: ""; display: table; }
.nav__list--grid:after { clear: both; }
.nav__item { font-size: 0.9167em; margin-left: 0; padding-left: 0; }
.nav__item--header { display: inline-block; line-height: 1.375; }
.nav__item--header + .nav__item--header { margin-left: 1.5em; }
.nav__item--grid { border: 1px solid rgba(45, 65, 84, 0.1); display: inline-block; float: left; margin-left: 1%; margin-bottom: 0.8125rem; width: 24.25%; }
.nav__item--grid:nth-child(4n+1) { margin-left: 0; }
.nav__item--grid:hover { border-color: rgba(45, 65, 84, 0.2); }
.nav__link--header { color: #FFF; }
.nav__link--header:hover { color: rgba(255, 255, 255, 0.6); text-decoration: none; }
.nav__link--grid { display: block; color: rgba(45, 65, 84, 0.9); padding-bottom: 1.625rem; padding-top: 1.625rem; }
.nav__link--grid:hover { text-decoration: none; color: rgba(45, 65, 84, 0.9); }
.nav__link--grid p { margin-bottom: 0; }

.header { background: #0091E5; padding-bottom: 1em; margin-bottom: 2em; padding-top: 1em; }

.api__content { font-size: 16px; }
.api__content table { font-size: 100%; }
.api__content pre, .api__content code { font-size: 0.9167em; }

.api__headers pre { background-color: #eee; margin-bottom: 0; }

.api__toc { margin-bottom: 1.625rem; }

.highlight .hll { background-color: #ffffcc; }

.highlight .c { color: #008000; }

/* Comment */
.highlight .err { border: 1px solid #FF0000; }

/* Error */
.highlight .k { color: #0000ff; }

/* Keyword */
.highlight .cm { color: #008000; }

/* Comment.Multiline */
.highlight .cp { color: #0000ff; }

/* Comment.Preproc */
.highlight .c1 { color: #008000; }

/* Comment.Single */
.highlight .cs { color: #008000; }

/* Comment.Special */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gh { font-weight: bold; }

/* Generic.Heading */
.highlight .gp { font-weight: bold; }

/* Generic.Prompt */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .gu { font-weight: bold; }

/* Generic.Subheading */
.highlight .kc { color: #0000ff; }

/* Keyword.Constant */
.highlight .kd { color: #0000ff; }

/* Keyword.Declaration */
.highlight .kn { color: #0000ff; }

/* Keyword.Namespace */
.highlight .kp { color: #0000ff; }

/* Keyword.Pseudo */
.highlight .kr { color: #0000ff; }

/* Keyword.Reserved */
.highlight .kt { color: #2b91af; }

/* Keyword.Type */
.highlight .s { color: #a31515; }

/* Literal.String */
.highlight .nc { color: #2b91af; }

/* Name.Class */
.highlight .ow { color: #0000ff; }

/* Operator.Word */
.highlight .sb { color: #a31515; }

/* Literal.String.Backtick */
.highlight .sc { color: #a31515; }

/* Literal.String.Char */
.highlight .sd { color: #a31515; }

/* Literal.String.Doc */
.highlight .s2 { color: #a31515; }

/* Literal.String.Double */
.highlight .se { color: #a31515; }

/* Literal.String.Escape */
.highlight .sh { color: #a31515; }

/* Literal.String.Heredoc */
.highlight .si { color: #a31515; }

/* Literal.String.Interpol */
.highlight .sx { color: #a31515; }

/* Literal.String.Other */
.highlight .sr { color: #a31515; }

/* Literal.String.Regex */
.highlight .s1 { color: #a31515; }

/* Literal.String.Single */
.highlight .ss { color: #a31515; }

/* Literal.String.Symbol */
