---
layout: default
---

<form class="form__search form__search--landing">
  <input class="form__input--search form__input--search--landing st-default-search-input" type="search" placeholder="Search">
</form>

{% assign sections = site.collections | sort:"position" %}
<nav class="nav nav--grid">
  <ul class="nav__list nav__list--grid">
    {% for section in sections %}
      {% if section.title and section.meta.in_nav == true %}
        <li class="nav__item nav__item--grid">
          {% assign docs = section.docs | sort:"position" %}
          <a class="nav__link nav__link--grid" href="/{{ section.label }}/">
            <i class="nav__icon nav__icon--grid ss-icon">{{ section.meta.icon }}</i>
            <h3 class="nav__header nav__header--grid">{{ section.title }}</h3>
            <p>{{ section.meta.description }}</p>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
  _st('install','WgemsSzpiSJN3aaHTqYn','2.0.0');
</script>
