---
layout: default
---

{% include sidebar.html %}

<section class="main__content">
  <div class="document">
    <h1 class="document__title">{{ page.title }}</h1>

    {% if page.meta.summary %}
      <blockquote class="document__summary">
        <h3>Summary</h3>
        {{ page.meta.summary }}
      </blockquote>
    {% endif %}

    <div class="document__content">
      {{ content }}

      <p class="document__improve"><a href="https://github.com/oakstudios/learn.siteleaf.com/blob/master/{{ page.relative_path }}">Help improve this page</a></p>
    </div>
  </div>
</section>
