---
layout: default
---

{% assign page_section = site.collections | where: 'label', page.collection | first %}
<div class="articleWrap">
  {% include sidebar.html %}
  <article class="article">
    <ol class="breadcrumbs">
      <li class="breadcrumb"><a href="/">Siteleaf Learn</a></li>
      <li class="breadcrumb"><a href="/{{ page_section.label }}/">{{ page_section.title }}</a></li>
    </ol>
    <section class="article__content">
      <h2>{{ page.title }}</h2>
      {{ content }}
      <p class="article__improve">
        <a href="{{ site.github_url }}/blob/master/{{ page.relative_path }}">
          Help improve this page &rarr;
        </a>
      </p>
    </section>
  </article>
</div>
