---
layout: default
---

<div class="articleWrap">
  {% include sidebar.html %}
  <article class="article">
    <section class="article__content">
      <h3>Contents</h3>
      <ol class="collection__toc">
        {% assign documents = site[page.collection] | sort:"position" %}
        {% for document in documents %}
          {% if document.title != page.title %}
            <li>
              <a class="collection__toc__link" href="{{ document.url }}">{{ document.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </section>
  </article>
</div>
